@import '../../parts/colors';
@import '../../parts/helpers';
@import '../../parts/mixins';
@import '../../parts/flex';

$slider_max_width: 700px;
$slider_min_width: 300px;

.header {
  @include violetSection;
  padding: 20px 0;

  .menu li a {
    color: $light;
  }
}

.section-intro {
  @include link-social(-8px, 35px, 33px);
  @include violetSection;
  padding: 50px 0;

  .wrapper {
    @include row;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;

    .text {
      max-width: 350px;
      width: 100%;
    }

    .pic-gallery {
      max-width: 350px;
      width: 100%;
      max-height: 570px;
      overflow: hidden;

      @media (max-width: 768px) {
        display: none;
      }

      & img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.section-gallery {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 50px 15px;

  &__slider {
    margin-bottom: 24px;
    max-width: $slider_max_width;
    min-width: $$slider_min_width:;

    img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }

  &__slider-nav {
    max-width: $slider_max_width;
    min-width: $$slider_min_width:;

    img {
      object-fit: cover;
      height: 100px;
      width: 100%;
    }
  }
}
