@import "./colors";
@import "./mixins";
@import './buttons';
@import './flex';
@import './fonts';

body {
  background-color: #e3dcd5;
}

.menu {
  display: flex;

  li {
    list-style: none;

    a {
      @include link($violet-dark, 13pt, 1);
      margin-right: 10px;

      @media (max-width: 1024px) {
        font-size: ($Fzparagraph - 2);
      }

      @media (max-width: 768px) {
        max-width: 320px;
      }

      &::before {
        position: absolute;
        bottom: 0;
        content: "";
        background: $violet-light4;
        width: 100%;
        height: 7px;
        transform: scaleX(0);
        z-index: -1;
        transition: $slow-speed;
      }

      &:hover::before {
        transform: scaleX(1);
        transition: $slow-speed;
      }
    }

    &.current_page_item:not(.hash) {
      a::before {
        transform: scaleX(1);
        transition: $slow-speed;
      }
    }
  }

  & img {
    width: 17px;
    margin: 0px 10px 0px 0;
  }
}

//***********************************************
.head {
  text-align: left;
  font-size: 26pt;
  display: inline;
  position: relative;
  z-index: 2;
  margin-right: 15px;
  max-width: 210px;

  &::before {
    @include headerDecorB;
  }
}

.head-small {
  font-weight: $WBold;
  font-size: $HeadSmool;
  padding: 0 0 15px 0;
  @media (max-width: 992px) {
    font-size: ($HeadSmool - 2);
  }
}

.text {
  @include text;
}

.all {
  @include link($violet-light4, $FZsmoll, $Opaciti);

  &:hover {
    text-decoration: underline;
  }
}

.smoll-text {
  font-size: $FZsmoll;
}

.container {
  max-width: 1300px;
  margin: 0 auto;

  @media (max-width: 1400px) {
    padding: 0 50px;
  }
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

.paragraph {
  padding-bottom: 10px;
}
